<div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-12">
  <div>
    <h2 class="font-[Jost] text-2xl sm:text-3xl uppercase mb-4">Vishal</h2>
    <p class="text-sm sm:text-base">
      Elevating ideas through design and technology. Let's build something
      meaningful together.
    </p>
  </div>

  <div>
    <h3
      class="font-[Manrope] text-base sm:text-lg uppercase mb-4 tracking-wide"
    >
      Quick Links
    </h3>
    <ul class="space-y-2 text-sm sm:text-base">
      <li>
        <a href="#home-section" class="hover:text-black transition duration-200"
          >Home</a
        >
      </li>
      <li>
        <a
          href="#portfolio-section"
          class="hover:text-black transition duration-200"
          >Portfolio</a
        >
      </li>
      <li>
        <a
          href="#about-section"
          class="hover:text-black transition duration-200"
          >About</a
        >
      </li>
      <li>
        <a
          href="#blogs-section"
          class="hover:text-black transition duration-200"
          >Blog</a
        >
      </li>
      <li>
        <a
          href="#contact-section"
          class="hover:text-black transition duration-200"
          >Contact</a
        >
      </li>
    </ul>
  </div>

  <div class="footer-col">
    <h3
      class="font-[Manrope] text-base sm:text-lg uppercase mb-4 tracking-wide"
    >
      Newsletter
    </h3>
    <p class="text-sm sm:text-base mb-4">
      Stay updated with our latest news and offers.
    </p>
    <form class="flex">
      <input
        type="email"
        placeholder="Your email"
        class="flex-grow px-4 py-2 bg-white text-black text-sm sm:text-base outline-none focus:ring-1 focus:ring-blue-500 hover:ring-1 hover:ring-gray-400 transition-all duration-200"
      />
      <button
        type="submit"
        class="bg-black text-white px-4 py-2 text-sm sm:text-base hover:bg-gray-700 transition-colors duration-300"
      >
        Subscribe
      </button>
    </form>
    <div class="flex gap-4 mt-6">
      <a href="#">
        <img
          src="/assets/images/insta.gif"
          alt="instagram"
          class="w-[2.5rem] h-[2.5rem] rounded-full"
      /></a>
      <a href="#"
        ><img
          src="/assets/images/facebook.gif"
          alt="facebookx--v2"
          class="w-[2.5rem] h-[2.5rem] rounded-full"
      /></a>
      <a href="#">
        <img
          src="/assets/images/linkedin.gif"
          alt="linkedin"
          class="w-[2.5rem] h-[2.5rem] rounded-full"
      /></a>
      <a href="#"
        ><img
          src="/assets/images/twitter.gif"
          alt="twitter"
          class="w-[2.5rem] h-[2.5rem] rounded-full"
      /></a>
    </div>
  </div>
</div>
<div class="text-center text-sm sm:text-base mt-12 pt-8 border-t border-white">
  &copy; 2025 Vishal. All rights reserved.
</div>
