<main
  class="heroo flex-grow relative flex flex-col items-center justify-center text-center py-8 container mx-auto px-4 md:px-8"
>
  <!-- Profile Picture -->

  <div class="mb-8">
    <img
      src="/assets//images/profile.png"
      alt="Oguz Profile"
      class="rounded-full w-30 h-30 md:w-40 md:h-40 object-cover object-top border-[0.1rem] border-black"
    />
  </div>

  <!-- Greeting -->
  <h1 class="text-anim text-xl md:text-2xl font-medium mb-4">
    Hi, I'm Vijay 👋
  </h1>

  <!-- Main Headline -->
  <h2
    class="text-anim text-3xl md:text-5xl lg:text-6xl font-bold leading-tight mb-6 max-w-4xl"
  >
    Building digital <span class="underline-text">products</span>, brands, and
    experience.
  </h2>

  <!-- Sub-text -->
  <p class="text-anim text-base md:text-lg text-gray-600 mb-8 max-w-2xl">
    a Product Designer and Visual Developer in SF. <br />
    I specialize in UI/UX Design, Responsive Web Design, <br />
    and Visual Development.
  </p>

  <!-- Connect Button -->
  <a
    href="../pages/contact.html"
    class="bg-[#F47D61] my-8 inline-block hover:bg-gray-700 text-white font-semibold py-3 px-6 rounded-full shadow-lg transition duration-300 ease-in-out text-sm md:text-base"
  >
    CONNECT WITH ME
  </a>
</main>
